<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/home.css">
    <title><%=title%></title>
</head>
<body>
    <h1><%=title%></h1>

    <form method="POST" action="/stat">
        <input type="text" name="company_name" required/>
        <input type="date", name="search_date_since" required>
        <input type="submit" />
    </form>

    <script src="js/home.js"></script>
</body>
</html>